.select{
    width: 100%;
    color:black;
    font-weight: 400;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #3498db;
    background: none;
    font-size: 18px;
    outline: none;       /* Цвет фона */
    cursor: pointer;              /* Курсор указателя */
    appearance: none;             /* Замена стандартного вида */
    /* ... другие стили ... */

}

option{
    color:#3498db;
}

.select-label{
    font-weight: bold;
    color:black;
    font-size: 18px;
    pointer-events: none;
}
